html{
    height: 100%;
}   
    
body {
    height: 100%;
    margin: 0;
    position: relative;
}   
    
    
    
#map {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background-color: #CCC;
}   
.navbar {
  margin-bottom: 0pt;
  background-color: #06051b;
  border: 0pt;
  border-radius: 0pt;

}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff
}
.logo {
  margin: -6pt;
  width: 145pt;

}
    
#sidebar{
    width: 300px;
    height: 100%;
    margin-top: 35pt;
    position: absolute;
    transform:translateX(300px);
    right: 0;
    top:0;
    opacity: 0;
    overflow: scroll;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background-color: white;
    box-shadow: -1px 0 20px rgba(0,0,0,0.4);
}
#sidebar.open-sidebar{
    opacity: 1;
    transform:translateX(0px);
}
#sidebar .video{
    height: 544px;
}

#video-gradient {
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0;
    background-image: url("../img/degradado.png");
    background-size: auto 100% ;
    width: 100%;
}
#sidebar .postCategory{
    margin: 20px;
}
#sidebar h1{
    font-size: 1em;
    color: white;
    margin: 20px 0;
    padding-left: 103px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
#sidebar #video_denuncia{
    width: 300px;
    height: 534px;
    overflow: hidden;
}
.vjs-control-bar{
   display: none !important;
}
#sidebar .rotate{
    transform-origin: 0 0;
    height: 300px;
}
#sidebar .video.android .rotate{
    height: 534px;
}
#sidebar video{
    transform: rotate(90deg) scale(1.8);
}
#sidebar .video.android video{
    transform: scaleY(2.4);
}
#map.open-sidebar{
    /*padding-right: 300px;*/
}