/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,.btn-default:hover,.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  color: #fff;
  text-align: center;
  background-color: #0b0632;
}
.leadblack {
      color: black;
      padding-top: 20pt;
      padding-bottom: 20pt;

}
.black {
  color: black;
}
.navbar {
  margin-bottom: 0pt;
  background-color: #06051b;
  border: 0pt;
  border-radius: 0pt;

}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff
}
.logo {
  margin: -6pt;
  width: 145pt;

}

footer {
  background-color: #ffffff;
  height: 170px; 
  padding-top: 15pt
}
footer img {
  width: 100pt ;
}
.footertxt {
  color:#707070;
}
#background_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/video.png) no-repeat;
    background-size: cover;
}

#img_background {


}
.boton-accion{
    background-color: #fff;
    height: 200pt;
}
#boton-accion {
    margin-top: 30pt;
    margin-bottom: 30pt;
}
#flecha {
    width: 80%;
    height: auto;
}

.btn-danger {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ff6900;
  border: none;
}
.btn-danger:hover,.btn-danger:focus {
  background-color: #ff5700;
    border: none;

}
.btn-danger:active,.btn-danger.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ed4c11;
  border: none;
}
.btn-danger .badge {
  text-shadow: none;
}

#presetacion-app {
    padding-bottom:64px;
    padding-top: 120px;
background: #0db7ca; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0db7ca 0%, #006ad8 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #0db7ca 0%,#006ad8 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #0db7ca 0%,#006ad8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0db7ca', endColorstr='#006ad8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#logowims {
    width: 100%;
    height: auto;
    padding-bottom: 20pt;
}
#playstore {
    width: 50%;
    height: auto;
}
#appstore {
    width: 41%;
    height: auto;
}
.form-control  {
    width: 95%;
    display: inline-block;
    margin-right: 5pt;
  
}
.form-group {
    text-align: left;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
 /*  height: 100%; /* For at least Firefox */
  /* min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;`
}
.vcenter {
    padding-top: 0pt;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*
 * Header
 */

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .featurette-heading {
    font-size: 50px;
  }
  .vcenter {
    padding-top: 40pt;
  }
  .lead {
    font-size: 19px;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .featurette-heading {
    margin-top: 120px;
  }
  .vcenter {
    padding-top: 40pt;
  }
}

